.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

form {
    width: 500px;
}

form label {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: bold;
}

.inputdiv {
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px 7px;
    font-size: 16px;
    border: 2px solid #4a5568;
    border-radius: 10px;
    background-color: #2d3748;
    color: white;
    margin: 5px 0px;
    outline: none;
}

input::placeholder {
    color: lightgray;
}

input:focus {
    border-color: #lightblue;
}

.input_error {
    border-color: #fc8181;
}

.error {
    color: #fc8181;
    font-size: 12px;
    text-align: left;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox input {
    width: auto;
}

.link {
    display: flex;
    color: white;
}

button {
    width: 100%;
    padding: 15px 15px;
    margin: 16px 0px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}